.trip-img {
    --size: 20rem;
    width: var(--size);
    height: var(--size);
    object-fit: cover;
}

.cheapest-trip {
    border: 2px solid green;
}

.most-expensive-trip {
    border: 2px solid red;
}

.almost-full{
    background-color: lightcoral;
}