<div>
  <div [ngClass]="{'cheapest-trip': tripProperties.lowestPrice, 'most-expensive-trip': tripProperties.highestPrice, 'almost-full': trip.max_participants - tripProperties.reservedCount < 3}"
       class="container card flex-fill">
    <button (click)="removeTrip()" class="btn btn-danger corner-button">X</button>
    <!-- Img -->

      <div class="col-md-12 text-center">
        <a activeRouterLink="active" routerLink="/trip-panel/{{trip.id}}">
          <img [src]="trip.picture[0]" alt="trip image" class="trip-img rounded-circle img-fluid">
        </a>
      </div>

    <!-- Info -->
    <div class="row mt-4">
      <div class="col-md-12 text-center">
        <h1>{{ trip.name | uppercase }}</h1>
        <h3>{{ trip.country }}</h3>
        <p>{{ moneyService.chosenCurrency }} {{ trip.price * (moneyService.exchangeRates.get(moneyService.chosenCurrency) ?? 1.0) | number: '1.2-2' }}</p>
        <p>{{ trip.description }}</p>
      </div>
    </div>

    <!-- Date -->
    <div class="row mt-4">
      <div class="col-md-6 text-center">
        <p>Start Date: {{ trip.start_date }}</p>
      </div>
      <div class="col-md-6 text-center">
        <p>End Date: {{ trip.end_date }}</p>
      </div>
    </div>

    <!-- Max Participants and reserved spots-->
    <div class="row mt-4">
      <div class="col-md-6 text-center">
        <p>Max Participants: {{ trip.max_participants }}</p>
      </div>
      <div class="col-md-6 text-center">
        <p>Reserved Spots: {{ tripProperties.reservedCount }}</p>
      </div>
    </div>


    <!-- Rate -->
    <div class="p-2 col-12  text-center">
      <!-- Rating: {{(this.tripRatings.ratingSum / this.tripRatings.ratingCount) | number: '1.2-2'}} -->
      <!-- <div class="star-rating">
        <span (click)="rateTrip(i + 1)" *ngFor="let star of stars; let i = index" [ngClass]="{'selected': i < rating}">
          {{ i < rating ? '★' : '☆' }} </span>
      </div> -->


    </div>
    <!-- Reservation buttons-->
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="d-flex justify-content-center align-items-end">
            <div *ngIf="tripProperties.reservedCount < trip.max_participants" class="mr-2 col-6">
              <button (click)="addReservedCount();cartService.calculateTotalCost()" class="btn btn-dark full-width">+
              </button>
            </div>
            <div *ngIf="tripProperties.reservedCount != 0" class="col-6">
              <button (click)="subtractReservedCount();cartService.calculateTotalCost()"
                      class="btn btn-dark full-width">-
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
