<div *ngIf="tripProperties.display">
  <div class="container"
  [ngClass]="{'cheapestTrip': tripProperties.lowestPrice === true, 'mostExpensiveTrip': tripProperties.highestPrice, 'almost-full': trip.max_participants - tripProperties.reservedCount < 3}"
  >
  <h3>{{TripCountingService.totalReservedTripsCounter}}</h3>
  <button class="btn btn-danger" (click)="removeTrip()">X</button>
    <!-- Img -->
    <div class="row">
      <div class="col-md-12 text-center">
        <img [src]="trip.picture" alt="trip image" class="trip-img rounded-circle img-fluid">
      </div>
    </div>

    <!-- Info -->
    <div class="row mt-4">
      <div class="col-md-12 text-center">
        <h1>{{ trip.name | uppercase }}</h1>
        <h3>{{ trip.country }}</h3>
        <p>€ {{ trip.price }}</p>
        <p>{{ trip.description }}</p>
      </div>
    </div>

    <!-- Date -->
    <div class="row mt-4">
      <div class="col-md-6 text-center">
        <p>Start Date: {{ trip.start_date }}</p>
      </div>
      <div class="col-md-6 text-center">
        <p>End Date: {{ trip.end_date }}</p>
      </div>
    </div>

    <!-- Max Participants and reserved spots-->
    <div class="row mt-4">
      <div class="col-md-6 text-center">
        <p>Max Participants: {{ trip.max_participants }}</p>
      </div>
      <div class="col-md-6 text-center">
        <p>Reserved Spots: {{ tripProperties.reservedCount }}</p>
    </div>


    <!-- Rate -->
    <div class="d-flex row p-3">
      <div class="p-2 col-6">
        <select class="form-control" id="rating" [(ngModel)]="rating" name="rating">
          <option *ngFor="let rating of tripDB.possibleRatingValues">
            {{ rating }}
          </option>
        </select>
      </div>
      <div class="col-6">
        <button class="btn btn-primary mt-2 w-100" (click)="rateTrip()">Rate</button>
      </div>
    </div>
    <!-- Reservation buttons-->
    <div class="row mt-4">
      <div class="col-md-12 text-center" >
        <div *ngIf="tripProperties.reservedCount < trip.max_participants">
          <button class="btn btn-primary" (click)="addReservedCount()">+</button>
        </div>
        <div *ngIf="tripProperties.reservedCount != 0">
          <button class="btn btn-primary" (click)="subtractReservedCount()">-</button>
      </div>
    </div>
  </div>
  