.trip-img {
  --size: 20rem;
  width: var(--size);
  height: var(--size);
  object-fit: cover;
}

.cheapest-trip {
  border: 2px solid lightgreen;
}

.most-expensive-trip {
  border: 2px solid lightcoral;
}

.almost-full {
  background-color: lightcoral;
}

.full-width {
  width: 100%;
}

.corner-button {
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;

  border-radius: 50%;
}

/* Star rating */
.star-rating {
  font-size: 2rem;
  cursor: pointer;
}

.star-rating span {
  margin: 0 2px;
}

.star-rating span.selected {
  color: black;
}


