<div *ngIf="tripProperties.display">
  {{tripProperties.display}}
  <div class="container card flex-fill"
    [ngClass]="{'cheapest-trip': tripProperties.lowestPrice, 'most-expensive-trip': tripProperties.highestPrice, 'almost-full': trip.max_participants - tripProperties.reservedCount < 3}">
    <button class="btn btn-danger" (click)="removeTrip()">X</button>
    <!-- Img -->
    <div class="row">
      <div class="col-md-12 text-center">
        <img [src]="trip.picture" alt="trip image" class="trip-img rounded-circle img-fluid">
      </div>
    </div>

    <!-- Info -->
    <div class="row mt-4">
      <div class="col-md-12 text-center">
        <h1>{{ trip.name | uppercase }}</h1>
        <h3>{{ trip.country }}</h3>
        <p>€ {{ trip.price }}</p>
        <p>{{ trip.description }}</p>
      </div>
    </div>

    <!-- Date -->
    <div class="row mt-4">
      <div class="col-md-6 text-center">
        <p>Start Date: {{ trip.start_date }}</p>
      </div>
      <div class="col-md-6 text-center">
        <p>End Date: {{ trip.end_date }}</p>
      </div>
    </div>

    <!-- Max Participants and reserved spots-->
    <div class="row mt-4">
      <div class="col-md-6 text-center">
        <p>Max Participants: {{ trip.max_participants }}</p>
      </div>
      <div class="col-md-6 text-center">
        <p>Reserved Spots: {{ tripProperties.reservedCount }}</p>
      </div>
    </div>


    <!-- Rate -->
    <div class="p-2 col-12  text-center">
      Rating: {{this.tripProperties.rating}}
      <div class="star-rating">
        <span *ngFor="let star of stars; let i = index" (click)="rateTrip(i + 1)" [ngClass]="{'selected': i < rating}">
          {{ i < rating ? '★' : '☆' }} </span>
      </div>



    </div>
    <!-- Reservation buttons-->
    <div class="row mt-4">
      <div class="col-md-12 text-center">
        <div *ngIf="tripProperties.reservedCount < trip.max_participants">
          <button class="btn btn-primary" (click)="addReservedCount()">+</button>
        </div>
        <div *ngIf="tripProperties.reservedCount != 0">
          <button class="btn btn-primary" (click)="subtractReservedCount()">-</button>
        </div>
      </div>
    </div>
  </div>
</div>