<div class="container">
  <h1 class="text-center">Purchase History</h1>
  <div class="row">
    <div class="col-md-12">
      <div *ngFor="let trip of purchaseHistoryService.items" class="card">
        <img [src]="trip.picture[0]" alt="{{ trip.name }} Image" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{ trip.name }}</h5>
          <p class="card-text">{{ trip.description }}</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Country: {{ trip.country }}</li>
            <li class="list-group-item">Start Date: {{ trip.start_date }}</li>
            <li class="list-group-item">End Date: {{ trip.end_date }}</li>
            <li class="list-group-item">Price per person: {{ trip.price }} {{ trip.currency }}</li>
            <li class="list-group-item">Trips status: {{ tripStatus(trip.start_date, trip.end_date) }}</li>
          </ul>
        </div>
        <div class="card-footer">

        </div>
      </div>
    </div>
  </div>

</div>
