<!-- hero -->
<div class="" id="home">
  <img alt="hero" class="big_picture" src="../../../assets/hero.gif">
  <div class="hero-text text-center">
    <h1>Travel Agency</h1>
  </div>
</div>


<div class="container text-center mt-4">
  <div>
    <h1>Our offer</h1>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias autem veritatis in corporis ducimus id veniam sunt
    nam, voluptas eius illo dolore ipsum officia culpa? Provident distinctio nihil sunt aspernatur. Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Quaerat quos, modi odit nobis nam reiciendis! Sapiente, doloremque illum
    perspiciatis velit inventore aliquid eveniet cumque cupiditate veritatis libero voluptates ex itaque!
  </div>
  <div class="row align-items-start">
    <div class="col">
      <h1>Lorem Ipsum</h1>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem quasi deleniti beatae quas, eos minus numquam
      perspiciatis accusamus repellendus suscipit recusandae facilis fugit mollitia quo, consectetur voluptate impedit
      maxime quis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum similique perspiciatis quis omnis! Nam
      fugiat vitae odio aut debitis soluta aperiam cupiditate, ut quis voluptate. Sed sapiente velit aperiam dicta.
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate ex aut velit provident ullam. Vero a autem
      provident. Porro tempora accusamus modi pariatur perspiciatis aperiam ex eos enim esse libero!
    </div>
    <div class="col">
      <h1>Lorem Ipsum</h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate nesciunt ipsa architecto laboriosam saepe
      inventore obcaecati quaerat, repellendus quasi animi porro illum iste est dolores, deleniti eos asperiores
      consectetur cum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo voluptate, illo dolorem voluptatum,
      omnis officia ad reprehenderit esse incidunt itaque doloremque, architecto quasi odio. Impedit nam recusandae
      accusantium illum! In. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel corrupti, dolor rem molestiae
      iusto quaerat ex nisi dolorum impedit assumenda iste nesciunt error expedita eveniet ipsam excepturi alias facilis
      modi!
    </div>

  </div>
</div>

<div class="map mt-5">
  <iframe
    allowfullscreen=""
    loading="lazy" referrerpolicy="no-referrer-when-downgrade" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10244.367031953552!2d19.9228265!3d50.0658432!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165ba716a39a4b%3A0x11d137e3b938f290!2sAGH%20C2!5e0!3m2!1spl!2spl!4v1704736640145!5m2!1spl!2spl" style="border:0;"></iframe>
</div>
