.trip-img {
    --size: 20rem;
    width: var(--size);
    height: var(--size);
    object-fit: cover;
}

.cheapestTrip {
    border: 2px solid green;
}

.mostExpensiveTrip {
    border: 2px solid red;
}