<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Travel Agency</a>
    <!-- Mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item text-center">
          <a class="nav-link" routerLink="/" routerLinkActive="true">Home</a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link" routerLink="/trip-panel" routerLinkActive="true">Trips</a>
        </li>

        <div *ngIf="authService.isLoggedIn">
        <li class="nav-item text-center">
          <a class="nav-link" routerLink="/creator" routerLinkActive="true">Creator</a>
        </li>
      </div>
        
        <div *ngIf="authService.isLoggedIn">
        <li class="nav-item text-center">
          <a class="nav-link" routerLink="/history" routerLinkActive="true">History</a>
        </li>
        </div>

        <div *ngIf="authService.isLoggedIn">
        <li class="nav-item text-center">
          <a class="nav-link" routerLink="/cart" routerLinkActive="true">Cart
            <span class="badge rounded-pill bg-danger"> <!--translate-middle -->
              {{tripCountingService.totalReservedTripsCounter}}
            </span>
          </a>
        </li>
      </div>

        
        <div *ngIf="authService.isLoggedIn; else elseBlock">
          <li class="nav-item text-center">
            <a class="nav-link" routerLink="/profile" routerLinkActive="true">Profile</a>
          </li>
        </div>
        <ng-template #elseBlock>
          <li class="nav-item text-center">
            <a class="nav-link" routerLink="/auth" routerLinkActive="true">Login</a>
          </li>
        </ng-template>
        <div *ngIf="authService.isLoggedIn">
        <li class="nav-item text-center">
          <a class="nav-link" routerLink="/auth" routerLinkActive="true" (click)="authService.logOut()">Logout</a>
        </li>
      </div>
        <!-- Currency here -->
        <li class="nav-item text-center">
          <div class="nav-button rounded-border">
            <app-money></app-money>
          </div>
        </li>

      </ul>
    </div>
  </div>
</nav>