<header class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <h1 class="navbar-brand">Travel Agency</h1>
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="btn btn-dark" routerLink="/" routerLinkActive="true">Home</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-dark" routerLink="/trip-panel" routerLinkActive="true">Trips</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-dark" routerLink="/creator" routerLinkActive="true">Creator</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-dark" routerLink="/history" routerLinkActive="true">History</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-dark" routerLink="/cart" routerLinkActive="true">Cart</a>
          </li>
          <li class="nav-item">
            <div class="nav-button rounded-border">
              <!-- Currency here -->
              <app-money></app-money>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
