<form>
  <div class="container row">
    <div class="mt-4 col-6">
      <label for="country">Country:</label>
      <div *ngFor="let country of this.tripsDbService.possibleCountries" class="form-check">
        <input [(ngModel)]="selectedCountries[country]" class="form-check-input" id="{{country}}" name="{{country}}"
               type="checkbox">
        <label class="form-check-label" for="{{country}}">{{ country }}</label>
      </div>
    </div>


    <div class="mt-4 col-6">
      <label for="rating">Rating</label>
      <div *ngFor="let i of [1,2,3,4,5]">
        <input [(ngModel)]="selectedRatings[i-1]" id="{{i}}" name="{{i}}" type="checkbox">
        <label for="{{i}}">
          <span *ngFor="let star of [].constructor(i)">{{ '★' }}</span>
        </label>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-6">
      <label for="startDate">Start Date:</label>
      <input [(ngModel)]="filter.startDate" class="form-control" id="startDate" name="startDate" type="date">
    </div>
    <div class="col-6">
      <label for="endDate">End Date:</label>
      <input [(ngModel)]="filter.endDate" class="form-control" id="endDate" name="endDate" type="date">
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <label for="priceFrom">Price From:</label>
      <input [(ngModel)]="filter.priceFrom" class="form-control" id="priceFrom" name="priceFrom" type="number">
    </div>
    <div class="col-6">
      <label for="priceTo">Price To: </label>
      <input [(ngModel)]="filter.priceTo" class="form-control" id="priceTo" name="priceTo" type="number">
    </div>
  </div>

  <div class="row p-2">
    <button (click)="applyFilter()" class="btn btn-dark col-10" type="button">Filter</button>
    <button (click)="resetFilter()" class="btn btn-dark col-2" type="button">Reset</button>
  </div>

</form>
